*{
    margin: 0;
    padding: 0;
}
/* share style */
.display-flex{
    display: flex;
}
.bg-color{
 background-color: #1A0B2E;
}
/* header related style */
.navbar{
    max-width: 1600px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 24px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    margin-left: 16px;
    color: #FFFFFF;
    font-size: 1rem;
}
h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem;
}
#primary-color{
   /* background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff); */
   color: rgb(255, 43, 191);
}
.nav-btn{
    width: 135px;
    height: 44px;
     background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff);
     color: #FFFFFF;
     border-radius: 24px;
     border: none;
     font-weight: 500;
     font-size: 1rem;
     
}
/* banner related style */
.banner{
    max-width: 1600px;
    height: 760px;
    /* background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff); */
    background-image: url("../assets/hero-bg.png");
   
    
}
.banner-content{
    max-width: 550px;
    /* border: 3px solid fuchsia; */
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.banner-img{
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 80px;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-description{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}
.btn1{
    margin-right: 8px;
    width: 200px;
    height: 44px;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}
.btn2{
    width: 145px;
    height: 44px;
    border-radius: 24px;
    color: #00FF88;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #00FF88;
    background-color: transparent;
}

/* for mobile device */
@media screen and (max-width:576px){
    .navbar,.list{
        display: block;
    }
    .banner-img{
    display: block;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px;
    padding-left: 80px; */
}
.banner{
    width: 100%px;
    
    /* background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff); */
    background-image: url("../assets/hero-bg.png");
   
    
}
    .hero-circle{
        width: 100%;
    }
    .hero-circle{
        width: 250px;
        height: 250px;
        padding-top: 80px;
    }
}