*{
    margin: 0;
    padding: 0;
}
/* share style */
.display-flex{
    display: flex;
}
.bg-color{
 background-color: #1A0B2E;
}
/* header related style */
.navbar{
    max-width: 1600px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 24px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    margin-left: 16px;
    color: #FFFFFF;
    font-size: 1rem;
}
h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem;
}
#primary-color{
   /* background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff); */
   color: rgb(255, 43, 191);
}
.nav-btn{
    width: 135px;
    height: 44px;
     background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff);
     color: #FFFFFF;
     border-radius: 24px;
     border: none;
     font-weight: 500;
     font-size: 1rem;
     
}
/* banner related style */
.banner{
    max-width: 1600px;
    height: 760px;
    /* background: linear-gradient(135deg, #ffeb3b, #ff2fb3, #7b1fff); */
    background-image: url("../assets/hero-bg.png");
}
.banner-content{
    max-width: 550px;
    /* border: 3px solid fuchsia; */
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.banner-img{
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 80px;
}
img.hero-circle {
    position: relative;
    z-index: revert-layer;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-description{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}

.microphone {
    position: absolute;
    top: 243px;
    right: 43%;
    z-index: 1;
}

.btn1{
    margin-right: 8px;
    width: 200px;
    height: 44px;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}
.btn2{
    width: 145px;
    height: 44px;
    border-radius: 24px;
    color: #00FF88;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #00FF88;
    background-color: transparent;
}
/* main section styles below */
.about-section{
    max-width: 1600px;
     background-color: #1A0B2E;
}
.about-container{
    max-width: 1200px;
    /* border: 3px solid powderblue; */
    margin: 0 auto;
    
}
.about-info{
    text-align: center;
}
.about-title{
    font-weight: 600;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.about-description{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
   
}
hr{
    color: #FFFFFF;
}
.state{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
    padding-bottom: 100px;
}
.react{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;
}
.react-description{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
}
/* why choose techwave related style */
.choose-techwave{
    max-width: 1600px;
    background-color: #230E3D;
}
.product-title{
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
   padding-top: 100px;
   padding-bottom: 40px;

}

.product-container{
    width: 1200px;
    /* border: 2px solid papayawhip; */
    margin: 0 auto;
    /* padding-top: 120px; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    padding-bottom: 100px;
}
.headphone{
    grid-column: span 1;
    grid-row: span 2;
    border: 3px solid #351165;
    padding: 107px 40px;
    /* justify-content: center;
    align-items: center; */
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}
.title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.desciption,.episode-description{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(111, 108, 108);
}
.mobile{
     grid-column: span 2;
    grid-row: span 1;
    /* border: 3px solid pink; */
    padding: 40px 50px;
    border: 3px solid #351165;
     border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.resource{
     grid-column: span 1;
    grid-row: span 1;
    padding: 40px ;
    border: 3px solid #351165;
     border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/* feature-section styles */
.feature-section{
    max-width: 1600px;
    background-color: #1A0B2E;
}
.episode-title{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
}
.episode-container{
    display: flex;
    gap: 10px;
    width: 1200px;
    /* height: 540px; */
    /* border: 3px solid purple; */
    margin: 0 auto;
    padding-bottom: 10px;
    
}
.video-card{
   border: 3px solid #3b3346;
 border-radius: 20px;;
box-shadow: 5px 5px 10px #3a215a;
background-color: #361b59;
width: 380px;
height: 380px;

    
}
.episode-content{
    padding-left: 20px;
    /* border: 2px solid paleturquoise; */
}
.episodeo-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.time{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 12px;
}


/* for mobile device */
@media screen and (max-width:576px){
    .navbar,
    .list{
        display: block;
    }

    .banner-img{
    display: block;
    
}

    .hero-circle,.banner{
        width: 100%;
    }
    .hero-circle{
        width: 250px;
        height: 250px;
        padding-top: 80px;
    }
    .about-title{
    font-size: 2rem;
    margin-bottom: 16px;
}
.about-description{
    font-size: 1rem;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
   
}
.state{
    
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-left: 20px;
}
.react{
    margin-bottom: 10px;
}
.product-container{
    
   
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,50px);
    padding: 5px;
    width: 100%;
   
}
.desciption{
     width: 200px;
}
.product-title{
    font-size: 2rem;
    font-weight: 600;
    }
.microphone {
    position: absolute;
    top: 372px;
    right: 35%;
    z-index: 1;
}
.microphone img {
    width: 75% !important;
}
.episode-container{
    display:block;
    gap: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    
}
    
}